<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.data.PropertiesDescDao">

    <insert id="insert">
        INSERT INTO properties_desc (application_,profile_,label_,type_,rel_,value_) VALUES (#{application},#{profile},#{label},#{type},#{rel},#{value})
    </insert>

    <update id="update">
        UPDATE properties_desc
        <set>
            <if test="application != null">application_=#{application},</if>
            <if test="profile != null">profile_=#{profile},</if>
            <if test="label != null">label_=#{label},</if>
            <if test="type != null">type_=#{type},</if>
            <if test="rel != null">rel_=#{rel},</if>
            <if test="value != null">value_=#{value},</if>
        </set>
        where id_=#{id}
    </update>

</mapper>